* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1080px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
}

.header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.header__image {
  width: 15%;
  border-radius: 10%;
}

.header__name {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.header__position {
  font-size: 1em;
  text-transform: uppercase;
  color: #555;
}

.content {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left right";
}

.left,
.right {
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  line-height: 2;
}

.left {
  text-align: center;
  grid-area: left;
}

.left__heading,
.right__heading {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.left__heading::before,
.left__heading::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
}

.left__heading::before {
  transform: translate(-1rem, 1.05rem);
}

.left__heading::after {
  transform: translate(0.35rem, 1.05rem);
}

.right {
  grid-area: right;
}

.right__header {
  display: flex;
  column-gap: 2em;
  margin-bottom: 1em;
}

.right__icon {
  width: 1.5em;
}

.right__content {
  margin-left: 0.65rem;
  border-left: 2px solid black;
  padding-left: 2.7rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.right__content__heading {
  font-weight: 600;
}

.right__content__subheading {
  color: grey;
}

.right__list {
  margin-left: 2rem;
  list-style-position: outside;
}

.right__item {
  padding-left: 0.5rem;
}

.right__point,
.right__point--first {
  position: relative;
}

.right__point::after,
.right__point--first::after {
  content: "";
  position: absolute;
  background-color: white;
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  top: 0;
  left: 0;
  transform: translate(-3.03rem, 0.75rem);
}

.right__point--first::before {
  content: "";
  position: absolute;
  background-color: white;
  width: 5px;
  height: 1rem;
  top: 0;
  left: 0;
  transform: translateX(-2.92rem);
}

.no-bullets {
  list-style-type: none;
}

@media screen and (max-width: 1200px) {
  body {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .content {
    display: block;
  }
}

/* .main__right main > section {
  position: relative;
}

.main__right main > section::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  transform: translate(-5.5px, -5.5px);
  width: 5px;
  height: 5px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: white;
} */