* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1080px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

.header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.profile-picture {
  width: 15%;
  border-radius: 10%;
}

.name {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.title {
  font-size: 1em;
  text-transform: uppercase;
  color: #555;
}

.main {
  margin: 2rem 0;
  display: flex;
}

.main__left {
  background-color: red;
  flex-grow: 1;
  height: 500px;
}

.main__right {
  background-color: green;
  flex-grow: 2;
  height: 500px;
}

@media screen and (max-width: 1200px) {
  body {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: block;
  }
}