* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1080px;
  margin: 0 auto;
  font-family: "Open Sans", sans-serif;
}

a {
  color: black;
}

.header {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  align-items: center;
}

.profile-picture {
  width: 15%;
  border-radius: 10%;
}

.name {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 3em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.title {
  font-size: 1em;
  text-transform: uppercase;
  color: #555;
}

.main {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.main h3 {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
}

.main h3::before {
  content: "\25cb   ";
}

.main h3::after {
  content: "   \25cb";
}

.main__left {
  height: 500px;
  display: flex;
  flex-direction: column;
  row-gap: 2em;
  text-align: center;
  line-height: 2;
}

.main__left ul {
  list-style-type: none;
}

.main__right {
  height: 500px;
}

@media screen and (max-width: 1200px) {
  body {
    width: 90vw;
  }
}

@media screen and (max-width: 800px) {
  .main {
    display: block;
  }
}